<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="Sistema de facturacion electronica con Spring Boot">
<meta name="author" content="Gage">
 <title>Sistema de ventas Spring Boot</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css.css}">
</head>
<body>

	<!-- navegacion -->
	<header th:fragment="header">

		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#"><strong>GAGE</strong></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- navegacion -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">

						<li class="nav-item"><a class="nav-link"
							th:href="@{/vistas/incluido/cliente/}">Cliente</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/vistas/incluido/producto/}">Producto</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/vistas/venta/}">Venta</a></li>
					</ul>

				</div>
			</div>
		</nav>

	</header>
	<!--  contenido -->
	<div class="container"></div>


	<!--pie de pagina-->
	<footer th:fragment="footer"
		class="bg-success text-center text-white fixed-bottom">

		<div class="container">
			<p>Copyright GAGE &copy; - 2020</p>
		</div>
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/funciones.js}"></script>
	</footer>

</body>
</html>