<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/plantillaBasica :: head">

</head>

<body>

	<header th:replace="plantilla/plantillaBasica :: header"></header>

	<div class="container">
		<br>
		<h2 th:if="${lista.isEmpty()}">No hay ventas</h2>
		<div th:if="${!lista.isEmpty()}">
			<h2 th:text="${titulo}"></h2>

			<div class="input-group mb-3">
				<input type="text" class="form-control" id="busqueda"
					placeholder="Busqueda"> <a
					th:href="@{/vistas/incluido/venta/crear/}"
					class="btn btn-primary btn-sm" th:text="Nuevo"></a>
			</div>
			<table class="table table-hover" id="tablaVenta">

				<thead class="thead-dark">
					<tr>
						<th>Nro</th>
						<th>CDP</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Cliente</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="v : ${ventas}">
						<td th:text="${v.numComprobante}">
						<td th:text="${v.comprobante.descripcion}">
						<td th:text="${v.fecha}">
						<td th:text="${v.hora}">
						<td th:text="${v.cliente.nombre}">
						<td><a class="btn btn-info btn-sm btn-editar"
							th:href="@{/vistas/incluido/venta/editar/{id}(id=${v.numComprobante})}"
							th:text="Editar"></a></td>
						<td><a class="btn btn-danger btn-sm btn-eliminar"
							th:href="@{/vistas/incluido/venta/anular/{id}(id=${v.numComprobante})}"
							th:text=Eliminar></a></td>
					</tr>
				</tbody>

			</table>

		</div>

		<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Eliminar cliente</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p class="alert alert-danger pull-right">Estas seguro de
							querer eliminar al cliente?</p>
					</div>
					<div class="modal-footer">
						<a href="" type="button" class="btn btn-danger" id="btnEliminarSi">Eliminar</a>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="plantilla/plantillaBasica :: footer"></footer>

</body>

</html>