<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Venta</title>



<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/awesomplete.theme.css}">
<link rel="stylesheet" th:href="@{/css/awesomplete.base.css}">
</head>

<body>

	<div class="container">
		<br>

		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}">
			</div>
			<div class="card-body">
				<form action="#" th:action="@{/vistas/venta/guardar}"
					th:object="${venta}" method="post">
					<div class="form-group row">
						<label for="comprobante" class="col-md-2">Comprobante</label> <select
							name="comprobante" id="comprobante" th:field="*{comprobante}"
							class="form-control form-control-sm col-md-4">
							<option th:each="c : ${comprobantes}"
								th:value="${c.codComprobante}" th:text="${c.descripcion}"></option>
						</select>
						
						 <label for="nombre" class="col-md-1">Serie</label> <input
							type="text" class="form-control form-control-sm col-md-2 serie"
							id="nombre" name="nombre"> <label for="nombre"
							class="col-md-1">Nro.</label> <input type="text"
							class="form-control form-control-sm col-md-2" id="nombre"
							name="nombre">
					</div>

					<div class="form-group row">
						<label for="cliente" class="col-md-2">Cliente</label> 
						<select name="cliente" id="cliente" th:field="*{cliente}"
						class="form-control form-control-sm col-md-4" >
						<option th:each="c : ${clientes}" 
								th:value="${c.codCliente}" th:text="${c.nombre}"></option>
						</select> 
					</div>

					<input type="hidden" th:field="*{numComprobante}" id="codigo">
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/awesomplete.min.js}"></script>
</body>

</html>