<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Personas</title>



<!-- Bootstrap CSS -->

<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">

</head>

<body>

	<div class="container">

		<br>
		<div>

			<a href="/save/0" class="btn btn-primary">Agregar</a>

		</div>

		<h2 th:if="${lista.isEmpty()}">No hay usuarios</h2>

		<div th:if="${!lista.isEmpty()}">

			<h2>Usuarios</h2>

			<table class="table">

				<thead>

					<tr>

						<th>Nombre</th>

						<th>Apellido</th>

						<th>Correo</th>

						<th>usuario</th>

						<th></th>

						<th></th>

					</tr>

				</thead>

				<tbody>

					<tr th:each="persona : ${lista}">

						<td th:text="${persona.first_name}">
						<td th:text="${persona.last_name}">
						<td th:text="${persona.email}">
						<td th:text="${persona.username}">
						<td><a class="btn btn-info"
							th:href="@{/save/{id}(id=${persona.cod_usuario})}">Editar</a></td>

						<td><a class="btn btn-danger"
							th:href="@{/delete/{id}(id=${persona.cod_usuario})}">Eliminar</a></td>


					</tr>

				</tbody>

			</table>

		</div>

	</div>

</body>

</html>